{% extends "base.html" %}

{% block content %}

{% from "form_macros.html" import render_form_errors %}

{{ render_form_errors(form) }}

<form method="post" action="{{ url_for('dashboard.index') }}" role="form"
      enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        {{ form.output_type.label }}
        {{ form.output_type(class_='form-control') }}
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        {{ form.input_type.label }}
        {{ form.input_type(class_='form-control') }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="pdb_id_div" class="form-group">
        {{ form.pdb_id(class_='form-control',
                       placeholder='Enter a PDB Id') }}
      </div>
      <div id="sequence_div" class="form-group hidden">
        {{ form.sequence(class_='form-control',
                         placeholder='Enter a protein sequence',
                         rows="3") }}
      </div>
      <div id="pdb_file_div" class="form-group hidden">
        <div class="input-group">
          <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
              Browse&hellip; {{ form.file_(class='form-control') }}
            </span>
          </span>
          <input type="text" class="form-control" disabled>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="form-group pull-right">
    <button type="reset" class="btn btn-default">Clear</button>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>

{% endblock %}

{% block js %}

<script type="text/javascript">
  $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  $(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }
      });

    $('#input_type').change(function() {
        var selected = $(this).children(":selected").attr('value');
        console.debug(selected);
        switch (selected) {
        case 'pdb_id':
          $('#pdb_id_div').removeClass('hidden');
          $('#sequence_div').addClass('hidden');
          $('#pdb_file_div').addClass('hidden');
          break;
        case 'pdb_redo_id':
          $('#pdb_id_div').removeClass('hidden');
          $('#sequence_div').addClass('hidden');
          $('#pdb_file_div').addClass('hidden');
          break;
        case 'pdb_file':
          $('#pdb_id_div').addClass('hidden');
          $('#sequence_div').addClass('hidden');
          $('#pdb_file_div').removeClass('hidden');
          break;
        case 'sequence':
          $('#pdb_id_div').addClass('hidden');
          $('#sequence_div').removeClass('hidden');
          $('#pdb_file_div').addClass('hidden');
          break;
        }
      });
  });
</script>

{% endblock %}
