{% extends "base.html" %}

{% block content %}

{% from "form_macros.html" import render_form_errors %}

{{ render_form_errors(form) }}

<form method="post" action="{{ url_for('dashboard.index') }}" role="form"
      enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        {{ form.output_type.label }}
        {{ form.output_type(class_='form-control') }}
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        {{ form.input_type.label }}
        {{ form.input_type(class_='form-control') }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="pdb_id_div" class="form-group">
        {{ form.pdb_id(class_='form-control',
                       placeholder='Enter a PDB code') }}
      </div>
      <div id="sequence_div" class="form-group hidden">
        <div class="alert alert-warning" role="alert">
          <span class="glyphicon glyphicon-warning-sign"></span>
          New sequences will be aligned against the input sequence and not
          against a sequence from a PDB structure as is done for normal HSSP
          alignments.
        </div>
        {{ form.sequence(class_='form-control',
                         placeholder='Enter a protein sequence',
                         rows="3") }}
      </div>
      <div id="pdb_file_div" class="form-group hidden">
        <div class="input-group">
          <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
              Browse&hellip; {{ form.file_(class='form-control') }}
            </span>
          </span>
          <input type="text" class="form-control" disabled>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="form-group pull-right">
    <button type="reset" class="btn btn-default">Clear</button>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>

{% endblock %}

{% block js %}

<script type="text/javascript">

  function show_pdbid_input() {
    $('#pdb_id_div').removeClass('hidden');
    $('#sequence_div').addClass('hidden');
    $('#pdb_file_div').addClass('hidden');
  }

  function show_pdbfile_input() {
    $('#pdb_id_div').addClass('hidden');
    $('#sequence_div').addClass('hidden');
    $('#pdb_file_div').removeClass('hidden');
  }

  function show_sequence_input() {
    $('#pdb_id_div').addClass('hidden');
    $('#sequence_div').removeClass('hidden');
    $('#pdb_file_div').addClass('hidden');
  }

  $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  $(document).ready( function() {
    // Remove the sequence input type as the default output type is DSSP.
    $('#input_type > option[value=sequence]').remove();

    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }
    });

    // Show the correct input widget depending on the selected input method.
    $('#input_type').change(function() {
        var selected = $(this).children(":selected").attr('value');
        switch (selected) {
        case 'pdb_id':
          show_pdbid_input();
          break;
        case 'pdb_redo_id':
          show_pdbid_input();
          break;
        case 'pdb_file':
          show_pdbfile_input();
          break;
        case 'sequence':
          show_sequence_input();
          break;
        }
    });

    // Update the input type selection list to exclude invalid combinations.
    $('#output_type').change(function() {
        var selected = $(this).children(":selected").attr('value');
        switch (selected) {
        case 'dssp':
          $('#input_type').empty();
          $('#input_type').append('<option value="pdb_id">PDB Id</option>');
          $('#input_type').append('<option value="pdb_redo_id">PDB_REDO Id</option>');
          $('#input_type').append('<option value="pdb_file">PDB File</option>');
          break;
        case 'hssp_hssp':
          $('#input_type').empty();
          $('#input_type').append('<option value="pdb_id">PDB Id</option>');
          $('#input_type').append('<option value="pdb_file">PDB File</option>');
          $('#input_type').append('<option value="sequence">Sequence</option>');
          break;
        case 'hssp_stockholm':
          $('#input_type').empty();
          $('#input_type').append('<option value="pdb_id">PDB Id</option>');
          $('#input_type').append('<option value="pdb_file">PDB File</option>');
          $('#input_type').append('<option value="sequence">Sequence</option>');
          break;
        }

        // All output types accept pdb_id as input. Show this input widget to
        // avoid having an invalid combination when the output_type is changed.
        show_pdbid_input();
    });

    // Trigger updating the input_type list to cope when the user uses the back
    // button to return to the page.
    $('#input_type').trigger('change');
  });
</script>

{% endblock %}
