version: "2"

services:

  frontend:
    build:
      context: .
      dockerfile: Dockerfile-frontend
    depends_on:
      - mongo
      - redis
      - celery
    command: gunicorn -k gevent -b 0.0.0.0:5002 xssp_api.application:app
    ports:
      - "5002:5002"
    environment:
      - XSSP_API_SETTINGS=/usr/src/app/prd_settings.py
      - LOG_FILENAME=/var/log/xssp_api/xssp_web.log
    volumes:
      - "/var/log/xssp_api:/var/log/xssp_api"
      - "/srv/data:/mnt/chelonium"
    volumes_from:
      - data

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile-celery
    depends_on:
      - mongo
      - rabbitmq
      - redis
    command: celery -A xssp_api.application:celery beat
    environment:
      - XSSP_API_SETTINGS=/usr/src/app/prd_settings.py
      - LOG_FILENAME=/var/log/xssp_api/xssp_celery.log
    volumes:
      - "/var/log/xssp_api:/var/log/xssp_api"
    volumes_from:
      - data

  celery:
    build:
      context: .
      dockerfile: Dockerfile-celery
    depends_on:
      - mongo
      - rabbitmq
      - redis
    command: celery -A xssp_api.application:celery worker -B -n xssp.%n -c 10
    environment:
      - XSSP_API_SETTINGS=/usr/src/app/prd_settings.py
      - LOG_FILENAME=/var/log/xssp_api/xssp_celery.log
    volumes:
      - "/var/log/xssp_api:/var/log/xssp_api"
      - "/srv/data:/mnt/chelonium"
      - "/srv/xssp:/srv"
    volumes_from:
      - data

  databanks:
    build:
      context: .
      dockerfile: Dockerfile-databanks
    command: ./schedule_updates.bash
    volumes:
      - "/var/log/xssp_api:/var/log/xssp_api"
      - "/srv/data:/mnt/chelonium"
      - "/srv/xssp:/srv"

  redis:
    image: redis

  rabbitmq:
    image: rabbitmq

  mongo:
    image: mongo

  data:
    image: tianon/true
    volumes:
      - /tmp/xssp-api
