{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">Result</div>
  <div class="panel-body">
    <p>
      Please wait while your request is processed. This can take a long time.
      The status of your request is shown below.
    </p>
    <div class="form-group">
      <span class="label label-default" id="status">QUEUED</span>
    </div>
    <textarea class="form-control" id="output"
              style="font-family: monospace; font-size: 8pt;"
              rows=30 readonly>
    </textarea>
    <a id="download" class="btn btn-default">Download</a>
    <br>
    <p>
      Doing this often? Consider using the
      <a href='{{ url_for('xssp.api_doc') }}'>API</a> to automate the process.
      Check out the <a href='{{ url_for('xssp.api_examples') }}'>simple
      ready-to-use examples</a>.
    </p>
    <p>
      Instructions for downloading existing DSSP files using rsync can be found
      <a href="http://swift.cmbi.umcn.nl/gv/dssp">here</a>.
    </p>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
      function _get_status_class(status) {
        if (status == 'PENDING') {
          return 'label-default';
        } else if (status == 'STARTED') {
          return 'label-primary';
        } else if (status == 'FAILURE') {
          return 'label-danger';
        } else if (status == 'SUCCESS') {
          return 'label-success';
        }
      }

      var intervalId = setInterval(update_status, 10000);

      update_status();

      function update_status() {
        $.getJSON(
          "{{ url_for('xssp.get_xssp_status', input_type=input_type, output_type=output_type, id=celery_id) }}",
          function(data) {
            // Remove all classes from the status message
            $('#status').removeClass();

            // Set the status text and classes
            $('#status').text(data['status']);
            var status_class = _get_status_class(data['status']);
            $('#status').addClass("label " + status_class);

            if (data['status'] == 'FAILURE') {
              clearInterval(intervalId);
              $('#output').text(data['message']);
            }

            if (data['status'] == 'SUCCESS') {
              clearInterval(intervalId);
              $.getJSON(
                  "{{ url_for('xssp.get_xssp_result', input_type=input_type, output_type=output_type, id=celery_id) }}",
                function(data) {
                  $('#output').text(data['result']);

                  $('#download').attr('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(data['result']));
                  $('#download').attr('download', '{{ celery_id }}.{{ output_type }}');
              });
            }
          }
        )
      }
  });
</script>
{% endblock %}
