<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Javascript -->
    <script src="{{ url_for('static',
                            filename='libs/jquery/dist/jquery.min.js') }}">
    </script>
    <script src="{{ url_for('static',
                            filename='libs/bootstrap/dist/js/bootstrap.min.js') }}">
    </script>
    <script src="{{ url_for('static',
                            filename='libs/bootstrap-tour/build/js/bootstrap-tour.js') }}">
    </script>
    <script src="{{ url_for('static',
                            filename='libs/highlightjs/highlight.pack.js') }}">
    </script>

    <!-- Stylesheets -->
    <link rel="stylesheet"
          href="{{ url_for('static',
                           filename='libs/bootstrap/dist/css/bootstrap.min.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static',
                           filename='libs/bootstrap-tour/build/css/bootstrap-tour.min.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static',
                           filename='libs/highlightjs/styles/github.css') }}">


    <link rel="stylesheet"
          href="{{ url_for('static',
                           filename='css/site.css') }}">
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Navbar header -->
        <div class="navbar-header">
          <a class="navbar-brand logo" href="{{ url_for('dashboard.index') }}">
            <p>xssp</p>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a id="start_tour" href="#">Help</a>
          </li>
          <li>
            <a href="{{ url_for('xssp.api_doc') }}">API</a>
          </li>
          <li>
            <a href="{{ url_for('xssp.api_example') }}">API Example</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="container">
          <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">&times;</button>
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="container navbar navbar-fixed-bottom">
      <hr style='padding: 5px; margin: 0;'>
      <p style='color: lightgray;'>Version: {{ g.xssp_version }}</p>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
